@font-face {
  font-family: 'Derani';
  src: url('../assets/Derani.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  height: 100%;
  transition: all 0.2s ease;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  background-attachment: fixed;
  --text-color: #fefefe;
  --technical-color: #88DD88;
  --derani-color: #ee3399;
  --toaq-color: #00aaff;
  --heading-color: #FF7777;
  --morphemes-color: #aaaaaa;
  --semantic-color: #ff0000;
}

body {
  background-color: transparent;
  transition: background 0.2s ease;
  margin:0; /* Remove the default page margin */
  color: var(--text-color);
  font-family: 'Segoe UI', 'Noto Sans', sans-serif;
  font-size: 17px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

h1, h2, h3, h4, h5 {
    color: var(--heading-color);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1:before, h2:before,
h1:after, h2:after {
    content: '';
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h1:after, h2:after {
    margin: 0 0 0 20px;
}

h2, h3 {
    padding-top: 30px;
}

h1 a, h2 a, h3 a, h4 a {
    color: inherit;
    font-variant: inherit;
    text-decoration: none;
}

p {
    text-align: justify;
    line-height: 1.8em;
}

.technical {
    color: var(--technical-color);
}

.pderani {
    text-align: justify;
    line-height: 3.5em;
}

.toaq {
    color: var(--toaq-color);
    font-weight: bold;
    font-family: 'Segoe UI', 'Noto Sans', sans-serif;
    font-size: 17px;
}

.glyphs {
    font-family: 'Derani';
    color: var(--derani-color);
    font-size: 24px;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
}
.glyphsl {
    font-family: 'Derani';
    color: var(--derani-color);
    font-size: 28px;
    font-weight: normal;
}


table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

th {
  color: var(--heading-color);
  padding: 8px;
  text-align: left;
  border: 1px solid var(--toaq-color);
  font-weight: normal;
}

td {
  padding: 8px;
  text-align: left;
  border: 1px solid var(--toaq-color);
}

td:first-child {
    color: var(--heading-color);
}


tr:hover {background-color: #006699;}

.vocabulary {
     table-layout: auto;
     max-width: 420px;
     margin-left: auto;
     margin-right: auto;
}

.vocabularyg {
	max-width: 62px;
	text-align: left;
	font-weight: normal;
	border-right: 0px;
	font-family: 'Derani';
	color: var(--derani-color);
	font-size: 21px;
	font-weight: normal;
}
.vocabularyg2 {
	width: 62px;
	text-align: left;
	font-weight: normal;
	border-right: 0px;
	font-family: 'Derani';
	color: var(--derani-color);
	font-size: 21px;
	font-weight: normal;
}

.vocabularyt {
	max-width: 50px;
	color: var(--toaq-color);
	font-weight: bold;
	border-left: 0px;
	text-align: left;
}
.vocabularyt2 {
	max-width: 60px;
	color: var(--toaq-color);
	font-weight: bold;
	border-left: 0px;
	text-align: left;
}
.vocabularyd {
	max-width: 250px;
}
.vocabularyp {
	width: 180px;
}
.vocabularys {
	max-width: 40px;
	padding-right: 20px;
}
.vocabularyc {

	padding-right: 20px;
}
.vocabulary td { padding-left: 20px; }
.vocabulary td:first-child { border-right: 0px; }
.vocabulary td:nth-child(2) { border-left: 0px; padding-right: 20px;}
.vocabulary th {
    text-align: center;
}


.letters {
     max-width: 400px;
     margin-left: auto;
     margin-right: auto;
}

.letters th {
    text-align: center;
}

.letters td{
    text-align: center;
}

.letters td:first-child {
    color: var(--text-color);
    font-weight: normal;
}





.soundsymbols {
	table-layout: fixed;
	width: 100%;
}
.soundsymbols tr:hover {
        background-color: unset !important;
}
.soundsymbols td {
        border: 0px;
}





.symbol {
	color: var(--toaq-color);
	font-size: 24px;
	font-weight: bold;
	text-transform: capitalize;
	padding-bottom: 5px;
	padding-top: 5px;
}
.gsymbol {
	color: var(--derani-color);
	font-size: 35px;
	font-family: Derani;
	padding-bottom: 20px;

}


.exword {
	color: #ffccff;
	font-weight: normal;

	font-size: 17px;
}

.alphabet-ipa {
	font-size: 16px;
	letter-spacing: 0.5px;
	color: var(--text-color);

}

.listen {
  display: block;
  background-color: transparent;
  border: none;
  transition: 0.2s;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  width:100%;
  padding: 10px;
}
.listen:hover {
  opacity: 1;
  background-color: #222255;
}

.fixed-width > * {
    max-width:52em;
    margin:0 auto;
    border-left: 3px;
    border-right: 3px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: var(--toaq-color);
    padding:0px 100px 0px 100px;

}

a {
    color:#cc3399;
    font-variant: small-caps;
}

a:hover {
    color:#cc3399; /* Hovered link color */
}




.topnav {
  text-align: center;
  display:flex;
	flex-wrap: wrap;
	gap: 32px;
	padding: 24px 0;
  justify-content:center;
}

.topnav a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 2px;
}

.topnav a:hover {
  color: var(--toaq-color);

}

.topnav a.active {
}

.botnav {
  text-align: center;
  display:flex;
  justify-content:center;
  padding-bottom: 55px;
}

.botnav a:hover {
  color: var(--toaq-color);

}

.botnav a.active {
}

.botnav a {
  display: block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  margin: 0 2px;
}


.syntax {
	border: 1px dashed #BBBBBB;
	overflow: hidden;
	width: 100%;
	background-color: black;
	margin-bottom: 5px;
}

.syntax p {
	padding-left: 30px;
	padding-right: 30px;
}
.syntax h4 {

}
.tree, .tree2, .tree3, .tree4, .tree5, .tree6, .stemplate, .wtemplate {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 100%;
}
.tree {
  float: right;
  width: 250px;
  padding-bottom: 30px;
}
.tree2 {
  float: right;
  width: 300px;
  padding-bottom: 30px;
}
.tree3 {
  float: right;
  width: 350px;
  padding-bottom: 30px;
}
.tree4 {
  float: right;
  width: 200px;
  padding-bottom: 30px;
}
.tree5 {
  display: block;
  width: 430px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.tree6 {
  display: block;
  width: 330px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.stemplate {
  display: block;
  width: 90%;
  padding-bottom: 30px;
}
.wtemplate {
  display: block;
  width: 50%;
  padding-bottom: 30px;
}

img.tone {
  display: inline;
  width: 30px;
}

img.sem {
  max-width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sc {
	font-variant: small-caps;
	color: var(--technical-color);
}
.sc2 {
	font-variant: small-caps;

}

.mono {
	font-family: consolas, monospace;
	color: var(--technical-color);
}
.parse {
	font-family: "Computer Modern Serif";
	color: var(--technical-color);
	font-size: 18px;
}
.parse b {
	color: var(--toaq-color);
	font-size: 17px;
	font-family: 'Segoe UI', 'Noto Sans', sans-serif;
}
.parse s {
	color: var(--semantic-color);
	font-family: 'Segoe UI', 'Noto Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.semantic {
	font-family: "Computer Modern Serif";
	font-size: 21px;
	color: var(--semantic-color);
}
.semantics {
	font-family: "Computer Modern Serif";
	font-size: 16px;
	color: var(--semantic-color);
}
.l {
    color: #6666FF;
    font-weight: bold;
    font-family: 'Segoe UI', 'Noto Sans', sans-serif;
    font-size: 17px;
}


.pronominal {
     table-layout: auto;
     max-width: 420px;
     margin-left: auto;
     margin-right: auto;
}
.pronominal td { padding-left: 20px; }
.pronominal td:nth-child(2) { border-right: 0px; padding-right: 0px; }
.pronominal td:nth-child(3) { border-left: 0px; padding-right: 20px; padding-left: 0px; }
.pronominal th { padding-left: 20px; }
.pronominal td:first-child { color: var(--text-color); }

.complementizers {
	table-layout: auto;
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}
.complementizers td { padding-left: 20px; }
.complementizers td:nth-child(2) { border-right: 0px;  }
.complementizers td:nth-child(3) { border-left: 0px;  }
.complementizers td:nth-child(4) { border-right: 0px; }
.complementizers td:nth-child(5) { border-left: 0px;  }
.complementizers th { text-align: center;}

.aspect {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	width: 500px;
	max-width: 100%;
}

.tonecontour {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	max-width: 100%;
}

.tonecontour2 {
	float: right;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	max-width: 100%;
	padding-left: 30px;
	padding-right: 50px;
	padding-top: 30px;
}

.tones {
	table-layout: fixed;

	margin-left: auto;
	margin-right: auto;
}
.tones td {
	color: var(--text-color);
	text-align: center;
	border: 0px;
}
.allotone {
	overflow: hidden;
	width: 100%;
}



.rimes td {
	color: var(--text-color);
	font-family: consolas;
	color: var(--technical-color);
	border: 0px;
}


table.conjunctionexamples {
      border-collapse: collapse;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
}


table.conjunctionexamples th {
      text-align: center;
      background-color: #197A92;
      color: white;
      text-align: center;
      padding: 8px;
      border-bottom: 1px solid #ddd;
      border-color: #197A92;
  }

  table.conjunctionexamples td {
      border: 1px solid #197A92;
      text-align: center;
      padding: 8px;
      border-bottom: 1px solid #ddd;
      border-color: #197A92;
  }

.w {
	color: var(--text-color);
}

.types {
     table-layout: auto;
     max-width: 420px;
     margin-left: auto;
     margin-right: auto;
}
.types td, .types th {
	border: 0px;
}

.semtable {
     table-layout: auto;
     max-width: 620px;
     margin-left: auto;
     margin-right: auto;
}
.semtable td, .semtable th {
	border: 0px;
}

.modaltable {
     table-layout: fixed;
     max-width: 500px;
     margin-left: auto;
     margin-right: auto;

}
.modaltable td, .modaltable th {
	text-align:center;
	border-left: 0px;
	border-right: 0px;
}
.modaltable td:first-child, .modaltable th:first-child { border-left: 1px solid var(--toaq-color); }
.modaltable td:last-child, .modaltable th:last-child { border-right: 1px solid var(--toaq-color); }

.gold {
	color: #FFD966;
	font-family: "Computer Modern Serif";
}

.button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 24px 2px;
  cursor: pointer;
  border: 1px solid var(--toaq-color);
}

button.button {
  background: inherit;
  color: inherit;
  font-family: inherit;
}

.vowels {
	table-layout: auto;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.vowels td:first-child {
	color: var(--text-color);
	text-align: center;
}

@media (max-width: 800px) {
	.fixed-width > * {
		padding: 0px 20px 0px 20px;
		border: none;
	}

	.tree, .tree2, .tree3, .tree4, .tree5, .tree6 {
		float: unset !important;
		display: block;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.toc {
  border: 1px solid var(--toaq-color);
  margin: auto;
  padding: 0.5em 2em;
  display: table;
  font-size: 14px;
}

.toc-header {
  text-align: center;
}

.toc-title {
  display: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.toc ol {
  padding-inline-start: 20px;
}

.toc a {
  text-decoration: none;
  font-variant: normal;
}

.toc a.current {
  font-weight: bold;
}

.toc a:hover {
  text-decoration: underline;
}

@media (min-width: 1050px) {
  @media ( max-width: 1250px) {
    .fixed-width > * {
      padding: 0px 20px 0px 20px;
      border: none;
    }
  }
  .delta-refgram .toc {
    padding-top: 2em;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    border-top: none;
    border-bottom: none;
    border-right: none;
    width: 270px;
    box-sizing: border-box;
    overflow-y: hidden;
  }
  .toc-header {
    display: none;
  }
  .toc-title {
    display: block;
  }
  .delta-refgram {
    padding-right: 270px;
    position: relative;
  }
}

html.light {
  --text-color: #282828;
  --technical-color: #00aa00;
  --derani-color: #cc3399;
  --toaq-color: #0088ee;
  --heading-color: #282828;
  --morphemes-color: #888888;
  --semantic-color: #cc3399;
}
html.light .toc { border: none; background: #00000008; }
html.light .syntax { background-color: white; }
html.light body { background-color: #f8f8f8; }
html.light img[src*=svg] { filter: invert() grayscale(1) contrast(0.3); }
html.light tr:hover {background-color: #dddddd;}
html.light .exword { color: inherit; }
html.light .listen:hover { background-color: #dddddd; }
html.light .fixed-width > * { border-style: none; }
html.light .gold { color: #ffc000; }
